[*.cs]
indent_style = tab

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false:suggestion

# IDE0305: Use collection expression for fluent (IDE0305)
dotnet_diagnostic.IDE0305.severity = none

[*.csproj]
indent_style = tab
